.weatherGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .weather-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.temperature {
  font-size: 1.2rem;
}

.additionalInfo small {
  color: #6c757d;
}

.tempRange {
  font-size: 0.9rem;
  color: #6c757d;
}
